.game {
  background-color: #000;

  &::after {
    content: "";
    position: absolute;
    background-image: url("/src/img/game_foter.png");
    width: 100%;
    height: 70px;
  }
}
.game__container {
  padding-top: 140px;
  padding-bottom: 70px;

  display: flex;
  flex-direction: column;

  max-height: 1098px;
}

.game__top {
  display: flex;
  flex-direction: column;
  gap: 40px;
  color: #fff;
}
.game__title {
  position: relative;
  padding-left: 164px;

  &::after {
    content: "";
    position: absolute;
    background-image: url("/src/img/game_sale.svg");
    background-size: contain;
    width: 132px;
    height: 132px;
    left: 0;
    top: -55px;
  }
}
.game__text {
  font-size: 18px;
  max-width: 952px;
  font-weight: 300;
  line-height: 34px;
  & span {
    color: #52bedc;
    font-weight: 700;
  }
}
.game__bottom {
  margin-top: 25px;
  display: flex;
  gap: 32px;
}
.game__form {
  display: flex;
  flex-direction: column;
  gap: 35px;
  width: 100%;
}
.form {
  padding-top: 73px;
  max-width: 460px;
}
.form__input {
  background-color: transparent;
  color: #fff;
  border: 0;
  border-bottom: 1px solid #777777;
  padding-bottom: 13px;
}
.form__label {
  width: 100%;
  max-width: 460px;
  height: 120px;
  color: #fff;
  border: 1px dashed #777777;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &:hover {
    border: 1px solid #777777;
    cursor: pointer;
  }
}
.label__input {
  display: none;
}
.form__label__text {
  font-size: 18px;
  font-weight: 300;
  text-decoration: underline;
  padding-bottom: 7px;
  white-space: nowrap;
}
.form__label__img {
  font-size: 12px;
  font-weight: 300;
}
.form__sumbit {
  max-width: 192px;
}
.form__checkbox {
  position: relative;
  display: flex;
  order: 2;
  gap: 10px;
  color: #fff;
  font-size: 12px;
  font-weight: 300;
  order: 3;

  padding-left: 24px;
  margin-top: -15px;

  & input {
    order: 4;
  }
}
.checkmark {
  width: 14px;
  height: 14px;
  background-color: transparent;
  border: 1px solid #777777;
  cursor: pointer;

  position: absolute;
  left: 0;

  &:hover {
    border-color: #f8f200;
  }

  &::after {
    content: "";
    display: none;
    position: absolute;
    right: 4px;
    top: 2px;
    width: 4px;
    height: 7px;
    border: solid #f8f200;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
}

.form__checkbox input[type="checkbox"]:checked + .checkmark::after {
  display: block;
}

.game__img {
  &-desktop {
    display: flex;
    gap: 32px;

    max-width: 788px;
    max-height: 456px;

    & img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &-tablet {
    display: none;
  }

  &-phone {
    display: none;
  }
}
