.hero {
  height: 100vh;
}

.hero__bg {
  margin-top: -94px;

  & img {
    position: absolute;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: center;
  }
}

.hero__container {
  display: flex;
  align-items: end;
  justify-content: flex-end;
  height: 100%;
}

.hero__info {
  background-color: #f8f200;
  max-width: 625px;
  max-height: 370px;
}

.hero__info-wrapper {
  padding: 73px 73px 68px 67px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.hero__btn {
  max-width: 270px;
  text-align: center;
}

.slider__item {
  opacity: 0;
  transition: opacity 0.3s ease;

  &.active-slide {
    opacity: 1;
  }
}
